.review-heading {
    border: 1px solid purple;
    display: flex;
    height: 20%;
}

.review-heading-avatar {
    border: 1px solid black;
    height: 80%;
    margin-left: 3%;
    margin-top: 1%;
    width: 15%;
}

img {
    height: 100%;
    width: 100%;
}

.review-heading-info {
    border: 1px solid blue;
    margin-left: 4%;
}

.review-picture {
    border: 1px solid orange;
    height: 50%;
}

.review-info-rating {
    font-size: 25px;
}

.checked {
    color: rgb(34, 191, 41);
}

.review-info {
    border: 1px solid red;
    height: 28%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .review {
        border: 1px solid blue;
        height: 60vh;
        margin-top: 10vh;
        width: 30vw;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .review {
        border: 1px solid green;
        height: 30vh;
        margin-top: 1vh;
        width: 30vh;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .review {
        height: 50vh;
        margin-top: 4vh;
        width: 90%;
    }
}