.zoo-review {
    background-color: rgb(232, 248, 245);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 5px;
}

.zoo-review-header {
    display: flex;
    justify-content: space-between;
}

.zoo-review h1 {
    font-weight: bold;
    text-align: left;
}

.zoo-review-body {
    word-wrap: break-word;
}

.zoo-review text {
    font-size: 17px;
}

.zoo-review-footer {
    display: flex;
    justify-content: space-between;
}

.zrf-avatar img {
    border-radius: 50%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .zoo-review {
        margin-left: 15%;
        margin-top: 6vh;
        width: 50%;
    }

    .zoo-review h1 {
        font-size: 20px;
    }

    .zrf-text {
        margin-top: 35px;
    }

    .zrf-avatar {
        height: 60px;
        margin-top: 25px;
        width: 60px;
    }
}

/* iPad Pro */
@media screen and (max-width: 1279px) {
    .zoo-review {
        background-color: white;
        margin-left: 5%;
        margin-top: 6vh;
        width: 70%;
    }

    .zoo-review h1 {
        font-size: 2rem;
    }

    .zrf-avatar {
        height: 70px;
        margin-top: 25px;
        width: 70px;
    }

    .zoo-review text,
    .zrf-text {
        font-size: 20px;
    }

    .zoo-review-body p {
        font-size: 35px;
    }
}

/* iPad */
@media screen and (max-width: 768px) {
    .zoo-review h1 {
        font-size: 2rem;
    }

    .zoo-review text,
    .zrf-text {
        font-size: 15px;
    }

    .zoo-review-body p {
        font-size: 25px;
    }

    .zrf-avatar {
        margin-top: -5px;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .zoo-review h1 {
        font-size: 22px;
    }

    .zoo-review {
        width: 80%;
    }

    .zrf-avatar {
        height: 60px;
        margin-top: 0px;
        width: 60px;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .zoo-review {
        width: 90%;
    }
}
