.update-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.update-form h1 {
    font-size: 25px;
    text-align: center;
}

.u-confirm-upload {
    display: flex;
}

.uf-button:active {
    opacity: 0.5;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .update-form {
        margin-left: 35%;
        margin-top: 5vh;
        padding: 10px;
        width: 30%;
    }

    .u-upload-image,
    .u-confirm-upload {
        margin-top: 3vh;
    }

    .u-confirm-upload input {
        margin-left: 10px;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .update {
        background-color: rgb(207, 250, 209);
        border: 1px solid rgb(207, 250, 209);
        min-height: 90vh;
    }

    .update-form {
        background-color: white;
        margin-left: 25%;
        margin-top: 5vh;
        padding: 15px;
        width: 50%;
    }

    .update-form h1 {
        font-size: 3rem;
    }

    .update-form label,
    .update-form input {
        font-size: 2rem;
    }

    .u-upload-image,
    .u-confirm-upload {
        margin-top: 2vh;
    }

    .u-upload-image {
        font-size: 2rem;
    }

    .u-confirm-upload input {
        margin-left: 3%;
        margin-top: 3px;
        width: 2vw;
    }

    .uf-button {
        margin-left: -15%;
    }

    .uf-button text {
        font-size: 2rem;
    }
}

/* iPad */
@media screen and (max-width: 768px) {
    .update-form {
        padding: 20px;
    }

    .u-confirm-upload input {
        width: 3vw;
    }

    .uf-button {
        margin-left: -55%;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .update-form {
        margin-left: 10%;
        width: 80%;
    }

    .update-form input {
        width: 90%;
    }

    .u-confirm-upload label {
        width: 46%;
    }

    .u-confirm-upload input {
        width: 4vw;
    }

    .uf-button {
        margin-left: -40%;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .update-form {
        padding: 30px;
    }

    .u-confirm-upload label {
        width: 75%;
    }

    .u-confirm-upload input {
        width: 5vw;
    }

    .u-confirm-upload label {
        width: 70%;
    }

    .u-upload-image,
    .u-confirm-upload {
        margin-top: 4vh;
    }

    .uf-button {
        margin-left: -80%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .update-form {
        padding: 25px;
    }

    .u-confirm-upload label {
        width: 70%;
    }

    .uf-button {
        margin-left: -100%;
    }
}

/* iPhone X */
@media screen and (max-width: 375px) and (max-height: 812px) {
    .u-confirm-upload label {
        width: 80%;
    }

    .u-confirm-upload label {
        width: 80%;
    }

    .uf-button {
        margin-left: -115%;
    }
}