.update-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.update-form h1 {
    text-align: center;
}

.uf-confirm-upload {
    display: flex;
}

.uf-button:active {
    opacity: 0.5;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .update-form {
        margin-left: 35%;
        margin-top: 5vh;
        padding: 10px;
        width: 30%;
    }

    .update-form h1 {
        font-size: 25px;
    }

    .update-form-bio,
    .uf-upload-image,
    .uf-confirm-upload {
        margin-top: 3vh;
    }

    .uf-confirm-upload input {
        margin-left: 10px;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .update {
        padding-bottom: 10vh;
    }

    .update-form {
        background-color: white;
        margin-left: 25%;
        margin-top: 5vh;
        padding: 15px;
        width: 50%;
    }

    .update-form h1 {
        font-size: 3rem;
    }

    .update-form label,
    .update-form input,
    .update-form textarea {
        font-size: 2rem;
    }

    .update-form-bio,
    .uf-upload-image,
    .uf-confirm-upload {
        margin-top: 2vh;
    }

    .uf-upload-image {
        font-size: 2rem;
    }

    .uf-confirm-upload {
        justify-content: space-between;
    }

    .uf-confirm-upload input {
        margin-right: 35%;
        margin-top: 3px;
        width: 2vw;
    }

    .uf-button {
        display: flex;
        justify-content: center;
    }

    .uf-button text {
        font-size: 2rem;
    }
}

/* iPad */
@media screen and (max-width: 768px) {
    .update-form {
        padding: 20px;
    }

    .uf-confirm-upload input {
        margin-right: 25%;
        width: 3vw;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .update-form {
        margin-left: 10%;
        width: 80%;
    }

    .update-form input,
    .update-form textarea {
        width: 90%;
    }

    .uf-confirm-upload label {
        width: 46%;
    }

    .uf-confirm-upload input {
        width: 4vw;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .update-form {
        padding: 30px;
    }

    .uf-confirm-upload label {
        width: 75%;
    }

    .uf-confirm-upload input {
        width: 5vw;
    }

    .uf-confirm-upload label {
        width: 70%;
    }

    .update-form-bio,
    .uf-upload-image,
    .uf-confirm-upload {
        margin-top: 4vh;
    }

    .uf-confirm-upload input {
        margin-right: 5%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .update-form {
        padding: 25px;
    }

    .uf-confirm-upload label {
        width: 70%;
    }
}

/* iPhone X */
@media screen and (max-width: 375px) and (max-height: 812px) {
    .uf-confirm-upload label {
        width: 80%;
    }

    .uf-confirm-upload label {
        width: 80%;
    }
}