.dashboard-top-bar,
.dashboard-bottom {
    margin-left: 5%;
    width: 90%;
}

.dashboard-bottom {
    margin-top: 2vh;
}

.dashboard-b-user-info h2 {
    font-size: 25px;
    text-align: center;
}

.dashboard-b-u-i-bio {
    height: 55%;
    margin-left: 10%;
    width: 80%;
    word-wrap: break-word;
}

.dashboard-b-u-i-avatar img {
    height: 100%;
    width: 100%;
}

.dashboard-b-buttons button {
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    color: rgb(34, 191, 41);
}

.dashboard-b-buttons button:active,
.dashboard-update-button:active {
    opacity: 0.5;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .dashboard {
        padding-bottom: 5vh;
    }

    .dashboard-top-bar {
        background-color: rgb(133, 146, 158);
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 5vh;
        padding: 10px;
        width: 90%;
    }

    .dashboard-top-bar h1 {
        font-size: 30px;
    }

    .dashboard-bottom {
        display: flex;
        min-height: 70vh;
        justify-content: space-between;
    }

    .dashboard-b-user-info {
        background-color: rgb(133, 146, 158);
        height: 80vh;
        width: 20%;
    }

    .dashboard-b-buttons {
        display: flex;
        justify-content: space-around;
        margin-left: 125vh;
        margin-top: -9vh;
        position: absolute;
        width: 25%;
    }

    .dashboard-b-u-i-avatar {
        height: 27%;
        margin-left: 20%;
        width: 60%;
    }

    .dashboard-update-button {
        margin-left: 50px;
        margin-top: 70vh;
        position: absolute;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .dashboard {
        background-color: rgb(207, 250, 209);
        border: 1px solid rgb(207, 250, 209);
        min-height: 100vh;
    }

    .dashboard-top-bar h1 {
        margin-top: 1vh;
        text-align: center;
    }

    .dashboard-b-buttons {
        display: flex;
        justify-content: space-around;
        margin-left: 25%;
        margin-top: 1vh;
        width: 50%;
    }

    .dashboard-bottom {
        min-height: 75vh;
    }

    .dashboard-b-u-i-avatar {
        height: 20vh;
        margin-left: 35%;
        width: 30%;
    }

    .dashboard-b-buttons {
        margin-top: 3vh;
        padding-bottom: 0vh;
    }

    .dashboard-update-button {
        display: flex;
        height: 3vh;
        justify-content: center;
        margin-left: 30%;
        width: 40%;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .dashboard-b-buttons {
      margin-left: 10%;
      width: 80%;
    }

    .dashboard-update-button {
        height: 5vh;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .dashboard-b-u-i-avatar {
        margin-left: 30%;
        width: 40%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .dashboard-b-u-i-avatar {
        height: 17vh;
    }
}
