.dashboard {
    padding-bottom: 5vh;
}

.dashboard-top-bar,
.dashboard-bottom {
    margin-left: 5%;
    width: 90%;
}

.dashboard-bottom {
    margin-top: 2vh;
}

.dashboard-bottom-user-info h2 {
    font-size: 25px;
    text-align: center;
}

.dbui-bio {
    height: 55%;
    margin-left: 10%;
    width: 80%;
    word-wrap: break-word;
}

.dbui-avatar img {
    height: 100%;
    width: 100%;
}

.dashboard-bottom-buttons button {
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    color: rgb(34, 191, 41);
}

.dashboard-bottom-buttons button:active,
.dashboard-update-button:active {
    opacity: 0.5;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .dashboard-top-bar {
        background: rgb(52,73,94);
        background: linear-gradient(90deg, rgba(52,73,94,1) 0%, rgba(133,146,158,1) 50%, rgba(52,73,94,1) 100%);
        color: white;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 5vh;
        padding: 10px;
        width: 90%;
    }

    .dashboard-top-bar h1 {
        font-size: 30px;
    }

    .dashboard-bottom {
        display: flex;
        min-height: 70vh;
        justify-content: space-between;
    }

    .dashboard-bottom-user-info {
        background-color: rgb(86, 101, 115);
        color: white;
        height: 80vh;
        width: 20%;
    }

    .dashboard-bottom-buttons {
        display: flex;
        justify-content: space-around;
        margin-left: 125vh;
        margin-top: -9vh;
        position: absolute;
        width: 25%;
    }

    .dbui-avatar {
        border-image: linear-gradient(to right, rgb(34, 191, 41), rgb(6, 106, 9)) 1;
        border-style: solid;
        border-width: 4px;
        height: 27%;
        margin-left: 20%;
        width: 60%;
    }

    .dashboard-update-button {
        margin-left: 71px;
        margin-top: 70vh;
        position: absolute;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .dashboard {
        background-color: rgb(207, 250, 209);
        border: 1px solid rgb(207, 250, 209);
        min-height: 100vh;
    }

    .dashboard-top-bar h1 {
        font-size: 3rem;
        margin-top: 1vh;
        text-align: center;
    }

    .dashboard-bottom-buttons {
        display: flex;
        font-size: 2rem;
        justify-content: space-around;
        margin-left: 5%;
        margin-top: 3vh;
        padding-bottom: 0vh;
        width: 90%;
    }

    .dashboard-bottom {
        min-height: 75vh;
    }

    .dbui-avatar {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        height: 20vh;
        margin-left: 35%;
        width: 30%;
    }

    .dashboard-bottom-user-info h2,
    .dashboard-bottom-user-info text {
        font-size: 2rem;
    }

    .dashboard-update-button {
        margin-left: 30%;
        width: 40%;
    }

    .dub-label {
        font-size: 2rem;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .dashboard-bottom-buttons {
        flex-direction: column;
        height: 30vh;
        margin-left: 25%;
        width: 50%;
    }

    .dashboard-update-button {
        height: 9vh;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .dbui-avatar {
        margin-left: 30%;
        width: 40%;
    }

    .dashboard-bottom-user-info {
        padding-bottom: 5vh;
    }

    .dashboard-bottom-buttons {
        height: 25vh;
        margin-left: 15%;
        width: 70%;
    }

    .dashboard-update-button {
        margin-left: 20%;
        width: 60%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .dashboard-bottom-buttons {
        height: 20vh;
        margin-left: 10%;
        width: 80%;
    }

    .dbui-avatar {
        height: 17vh;
    }

    .dashboard-update-button {
        height: 8vh;
    }
}
