.dashboard-top-bar,
.dashboard-bottom {
    margin-left: 5%;
    width: 90%;
}

.dashboard-bottom {
    margin-top: 2vh;
}

.dashboard-b-user-info h2 {
    font-size: 25px;
    text-align: center;
}

.dashboard-b-u-i-avatar {
    height: 20%;
    margin-left: 28%;
    width: 44%;
}

.dashboard-b-u-i-bio {
    height: 55%;
    margin-left: 10%;
    width: 80%;
}

.dashboard-b-u-i-avatar img {
    height: 100%;
    width: 100%;
}

.dashboard-b-buttons button {
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    color: rgb(34, 191, 41);
}

.d-b-p-d-f-single-post img {
    border: 1px solid blue;
    height: 80%;
} 

.d-b-p-d-f-single-post h3 {
    text-align: center;
} 

/* Desktop */
@media screen and (min-width: 1280px) {
    .dashboard-top-bar {
        background-color: rgb(133, 146, 158);
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 5vh;
        padding: 10px;
        width: 90%;
    }

    .dashboard-top-bar h1 {
        font-size: 30px;
    }

    .dashboard-bottom {
        display: flex;
        min-height: 70vh;
        justify-content: space-between;
    }

    .dashboard-b-user-info {
        background-color: rgb(133, 146, 158);
        width: 20%;
    }

    .dashboard-b-posts-display {
        border: 2px solid green;
        width: 78%;
    }

    .dashboard-b-buttons {
        display: flex;
        justify-content: space-around;
        margin-left: 125vh;
        margin-top: -9vh;
        position: absolute;
        width: 25%;
    }

    .dashboard-b-buttons button:active {
        opacity: 0.5;
    }

    .dashboard-b-p-d-flex {
        border: 1px solid blue;
        display: flex;
        height: 50%;
        justify-content: space-around;
    }

    .d-b-p-d-f-single-post {
        height: 100%;
        width: 25%;
        border: 1px solid purple;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .dashboard {
        background-color: rgb(207, 250, 209);
        border: 1px solid rgb(207, 250, 209);
        min-height: 100vh;
    }

    .dashboard-top-bar h1 {
        margin-top: 1vh;
        text-align: center;
    }

    .dashboard-b-buttons {
        display: flex;
        justify-content: space-around;
        margin-left: 25%;
        margin-top: 1vh;
        width: 50%;
    }

    .dashboard-bottom {
        min-height: 75vh;
    }

    .dashboard-b-u-i-avatar {
        height: 25vh;
    }

    .dashboard-b-buttons {
        margin-top: 3vh;
        padding-bottom: 0vh;
    }

    .dashboard-b-posts-display {
        border: 1px solid red;
    }

    .d-b-p-d-f-single-post {
        border: 1px solid green;
        height: 40vh;
        margin-top: 5vh;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .dashboard-b-buttons {
      margin-left: 10%;
      width: 80%;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .dashboard-b-u-i-avatar {
        height: 20vh;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .dashboard-b-u-i-avatar {
        height: 17vh;
    }
}
