.access-denied {
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .access-denied {
        font-size: 40px;
        margin-left: 25%;
        margin-top: 25vh;
        width: 50%;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .access-denied {
        font-size: 3rem;
        margin-left: 5%;
        width: 90%;
    }
}