/* Desktop */
@media screen and (min-width: 1280px) {
    .home-top-image {
        background-image: url('./leaves.jpg');
        background-position: 100vw 150vh;
        background-size: 100vw 280vh;
        min-height: 65vh;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

}