.home h1 {
    margin-top: 2vh;
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .home-top-image {
        background-image: url('./leaves.jpg');
        background-position: 100vw 150vh;
        background-size: 100vw 280vh;
        min-height: 65vh;
    }

    .home-reviews {
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 10%;
        margin-top: -6vh;
        width: 80%;
    }

    .review {
        border: 1px solid blue;
        height: 60vh;
        margin-top: 10vh;
        width: 30vw;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .home-reviews {
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 5%;
        margin-top: 1vh;
        width: 90%;
    }

    .review {
        border: 1px solid green;
        height: 30vh;
        margin-top: 1vh;
        width: 30vh;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .review {
        height: 50vh;
        margin-top: 4vh;
        width: 90%;
    }
}