.post {
    border-radius: 20px;
    box-shadow: 8px 8px 4px  rgb(174, 182, 191);
}

.post-heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vh;
}

.post-heading text {
    margin-right: 1vw;
}

.post-heading-avatar {
    margin-left: 3%;
    margin-top: 1%;
}

.post-heading-avatar img {
    border-radius: 50%;
}

img {
    height: 100%;
    width: 100%;
}

.post-heading-info {
    margin-left: 4%;
}

.post-heading-trashcan:active {
    opacity: 0.5;
}

.post-info-rating {
    font-size: 25px;
}

.post-info h1 {
    display: flex;
    text-align: left;
}

.post-info text {
    color: black
}

.post-info text:hover {
    text-decoration: none;
}

.post-info a {
    color: rgb(27, 165, 42);
    text-decoration: none;
}

.post-info a:hover {
    text-decoration: underline;
}

.post-info a:active {
    font-style: italic;
    text-decoration: underline;
}

.post-info-thumbs {
    font-size: 24px;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .post {
        background-color: rgb(207, 250, 209);
        margin-top: 10vh;
        min-height: 60vh;
        width: 30vw;
    }
    
    .post-heading-avatar {
        height: 70px;
        width: 70px;
    }

    .post-info h1 {
        font-size: 25px;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .post {
        background-color: white;
        margin-top: 1vh;
        width: 40vw;
    }

    .post-heading-avatar {
        height: 100px;
        width: 100px;
    }
}

/* iPad */
@media screen and (max-width: 768px) {
    .post {
        margin-top: 3vh;
        width: 60%;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .post {
        margin-top: 4vh;
        width: 75%;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) and (max-height: 736px) {
    .post {
        width: 80%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
    .post-heading-avatar {
        height: 85px;
        width: 85px;
    }
}
