.dashboard-post img {
    height: 60%;
    width: 100%;
} 

.dashboard-post h3 {
    text-align: center;
}

.dashboard-post a {
    text-decoration: none;
}

.dashboard-post a:hover {
    text-decoration: underline;
}

.dashboard-post a:active {
    font-style: italic;
    text-decoration: underline;
}

/* Desktop */
@media screen and (min-width: 1280px) {

    .dashboard-zero-posts {
        width: 100%;
    }

    .dashboard-zero-posts text {
        font-size: 40px;
        margin-left: 28%;
        text-align: center;
    }
    
    .dashboard-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 0vh;
        width: 78%;
    }
    
    .dashboard-post {
        height: 40%;
        margin-top: 0vh;
        width: 30%;
    }

    .dashboard-post h3 {
        margin-top: 0;
    } 

    .dashboard-post a {
        color: rgb(27, 165, 42);
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .dashboard-zero-posts {
        margin-top: 2vh;
        text-align: center;
    }

    .dashboard-zero-posts text {
        font-size: 2rem;
    }

    .dashboard-posts {
        margin-top: 10vh;
    }

    .dashboard-post {
        height: 40vh;
        margin-left: 20%;
        margin-top: -5vh;
        width: 60%;
    }

    .dashboard-post a {
        color: black;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .dashboard-post {
        margin-left: 13%;
        width: 74%;
    }
}