.dashboard-post img {
    height: 80%;
} 

.dashboard-post h3 {
    text-align: center;
} 

/* Desktop */
@media screen and (min-width: 1280px) {
    
    .dashboard-posts {
        border: 1px solid green;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: -6vh;
        width: 78%;
    }
    
    .dashboard-post {
        height: 40%;
        margin-top: 6vh;
        width: 30%;
        border: 1px solid blue;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

    .d-b-p-d-f-single-post {
        height: 40vh;
        margin-top: 5vh;
    }
}