.dashboard-post img {
    height: 80%;
} 

.dashboard-post h3 {
    text-align: center;
} 

/* Desktop */
@media screen and (min-width: 1280px) {

    .dashboard-zero-posts {
        width: 100%;
    }

    .dashboard-zero-posts text {
        font-size: 40px;
        margin-left: 28%;
        text-align: center;
    }
    
    .dashboard-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: -6vh;
        width: 78%;
    }
    
    .dashboard-post {
        border: 1px solid gray;
        height: 40%;
        margin-top: 6vh;
        width: 30%;
    }

    .dashboard-post h3 {
        margin-top: -3vh;
    } 
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .dashboard-zero-posts {
        margin-top: 2vh;
        text-align: center;
    }

    .dashboard-zero-posts text {
        font-size: 2rem;
    }

    .dashboard-post {
        height: 40vh;
        margin-top: 5vh;
    }

    .dashboard-post h3 {
        margin-top: -8%;
    }
}