.single-zoo h1 {
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .single-zoo h1 {
        font-size: 50px;
    }

    .single-zoo text {
        font-size: 25px;
    }
    
    .single-zoo-photo {
        margin-left: 15%;
        width: 70%;
    }
    
    .single-zoo h2 {
        margin-top: 5vh;
    }

    .sz-list-of-reviews {
        margin-top: -3vh;
    }

    .single-zoo h2,
    .sz-list-of-reviews text {
        margin-left: 15%;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    .single-zoo {
        background-color: rgb(232, 248, 245);
    }

    .single-zoo h1 {
        font-size: 4rem;
    }

    .single-zoo-photo {
        margin-left: 5%;
        width: 90%;
    }

    .single-zoo text {
        font-size: 3rem;
    }

    .single-zoo h2 {
        margin-top: 2vh;
    }

    .sz-list-of-reviews {
        margin-top: -3vh;
    }

    .single-zoo h2, 
    .sz-list-of-reviews text {
        font-size: 2rem;
        margin-left: 5%;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .single-zoo h1 {
        font-size: 3rem;
    }

    .single-zoo text {
        font-size: 2rem;
    }
    
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .single-zoo text,
    .single-zoo h2,
    .sz-list-of-reviews text {
        font-size: 25px;
    }
}