form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form h1 {
    text-align: center;
}

form button {
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(29, 146, 34);
    color: white;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    form {
        margin-top: 10vh;
        margin-left: 15%;
        padding-bottom: 4vh;
        padding-top: 4vh;
        width: 70%;
    }

    form h1 {
        font-size: 25px;
    }

    form label {
        font-size: 20px;
        margin-left: 10%;
    }

    form input {
        margin-left: 10%;
        width: 80%;
    }

    form select {
        margin-left: 10%;
        width: 10%;
    }

    form button {
        height: 7vh;
        font-size: 17px;
        margin-left: 38%;
        margin-top: 5vh;
        width: 24%;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

}

/* iPad */
@media screen and (max-width: 768px) {

}

/* Surface Duo */
@media screen and (max-width: 540px) {

}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {

}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {

}

/* iPhone X */
@media screen and (max-width: 375px) and (max-height: 812px) {

}