nav a {
    text-decoration: none;
}

nav input {
    border: 3px solid black;
    border-radius: 15px;
}

.header-greeting {
    color: white;
}

.header-buttons button:active {
    opacity: 0.5;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    nav {
        background-color: rgb(34, 191, 41);
        display: flex;
        z-index: 999;
    }

    nav h1 {
        color: black;
        font-size: 3rem;
    }

    .header-greeting {
        font-size: 17px;
        margin-left: 8vw;
        margin-top: 20px;
        position: absolute;
    }

    .header-links {
        display: flex;
        font-size: 25px;
        justify-content: space-around;
        margin-left: 50vw;
        margin-top: 15px;
        width: 30vw;
    }

    .header-links text {
        color: black;
    }

    .header-buttons,
    .header-buttons-logout {
        display: flex;
        justify-content: space-around;
        margin-top: 18px;
    }

    .header-buttons {
        margin-left: 72vw;
        width: 17vw;
    }

    .header-buttons-logout {
        margin-left: 1vw;
        width: 10vw;
    }

    .header-vanilla-button {
        height: 30px;
    }

    .header-vanilla-button-text {
        margin-top: -4px;
    }

    nav input {
        height: 2rem;
        margin-left: 27vw;
        margin-top: 17px;
        position: absolute;
        width: 25vw;
    }

    nav h1:active, 
    .header-links text:active {
        color: white;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
    nav {
        background-image: url('../../../images/navigation-mobile.jpg');
        padding: 3vh;
        text-align: center;
    }

    nav h1 {
        color: white;
        font-size: 4rem;
    }

    .header-links {
        display: flex;
        font-size: 2rem;
        justify-content: space-around;
    }

    .header-links text {
        color: white;
    }

    .header-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-left: 25%;
        margin-top: 2vh;
        width: 50%;
    }

    .header-buttons button {
        background-color: rgb(34, 191, 41);
        border: 1px solid rgb(34, 191, 41);
        border-radius: 10px;
        font-size: 2rem;
        min-height: 3vh;
        min-width: 25%
    }

    nav input {
        border: 5px solid black;
        height: 4vh;
        margin-top: 2vh;
        width: 50vw;
    }

    nav h1:active, 
    .header-links text:active {
        color: rgb(34, 191, 41);
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .header-links {
        font-size: 2rem;
    }

    .header-buttons {
        margin-left: 15%;
        width: 70%;
    }

    nav input {
        height: 5vh;
        width: 75vw;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .header-links, 
    .header-buttons button {
        font-size: 22px;
    }

    nav input {
        height: 4vh;
    }
}